body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-header,
.dashboard-stats,
.dashboard-image {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;

}

.sensor-data {
    width: 32%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.calculated-data {
    width: 32%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.additional-data {
    width: 32%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chart-container {
    border: 1px solid #ddd;
    padding: 5px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.dashboard-image img {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
