[Unit]
Description=DS18B20 Temperature Probe
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/jibbenbar/jibbenbar
Restart=on-failure
RestartSec=5s
ExecStart=/home/jibbenbar/jibbenbar-python/bin/python probe_temp.py
SyslogIdentifier=probe_temp

[Install]
WantedBy=multi-user.target
