[Unit]
Description=DS18B20 Temperature Probe
After=multi-user.target

[Service]
User=root
WorkingDirectory=/var/www/jibbenbar
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 probe_temp.py
SyslogIdentifier=probe_temp

[Install]
WantedBy=multi-user.target
