[Unit]
Description=RainFall Monitor
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/jibbenbar/jibbenbar
Restart=on-failure
RestartSec=5s
ExecStart=/home/jibbenbar/jibbenbar-python/bin/python rainfall.py
StandardOutput=append:/var/log/rainfall.log
StandardError=append:/var/log/rainfall.log
SyslogIdentifier=rainfall

[Install]
WantedBy=multi-user.target
