[Unit]
Description=RainFall Monitor
After=multi-user.target

[Service]
User=root
WorkingDirectory=/var/www/jibbenbar
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 rainfall.py
StandardOutput=append:/var/log/rainfall.log
StandardError=append:/var/log/rainfall.log
SyslogIdentifier=rainfall

[Install]
WantedBy=multi-user.target
