[Unit]
Description=Wind Speed Monitor
After=multi-user.target

[Service]
User=root
WorkingDirectory=/var/www/jibbenbar
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 wind.py
SyslogIdentifier=WindMonitor

[Install]
WantedBy=multi-user.target
